.them{
    color: #fff;
}
.code {
    text-indent: 100%;
    white-space: nowrap;
    overflow:hidden;
}

.toast-notify {
   color: white;
}
.time {
    margin-left: 3vw;
}
.space {
    display: flex;
     flex-direction: row;
}
.taxi {
    height: 2vw;
    width: 1vw;
  }